.admin-wrapper .sidebar ul a {
    border-radius: 0px !important;
}

.admin-wrapper .content .directory__tag h4 {
    background: none;
}

.notification-favourite .status {
    max-height: none !important;
}

.notification {
    padding-bottom: 8px;
}

.batch-table__row:hover {
    background: var(--bg);
}

.input-copy {
    background: none;
    border: none;
}

.directory__tag>a * {
    background: none !important;
}

.getting-started__trends h4 {
    color: var(--textPage) !important;
}